body {
  margin-right: 3em;
  font-size: 1.5em;
  font-family: Times New Roman;
  text-align: justify;
  margin-left: 0.5em;
}
p {
  text-align: justify;
  line-height: 120%;
  margin-top: 0.5em;
  margin-bottom: 0;
}
p {
  text-indent: 2em;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
h1 {
  font-size: 1.6em;
  font-weight: bold;
}
h2 {
  font-size: 1.4em;
  font-weight: bold;
}
h3 {
  font-size: 1.2em;
  font-weight: bold;
  font-variant: small-caps;
}
h4 {
  font-size: 1em;
  font-weight: bold;
  font-variant: small-caps;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  font-variant: small-caps;
}
h6 {
  font-size: 1em;
  font-weight: normal;
  font-style: italic;
}
.audio {
  float: right;
  width: 100%;
  height: 5%;
}
.mainContent {
  width: 100%;
  height: 94%;
}
#resizable {
  border:  none;
  width: 95%;
  height: 95%;
  margin-left: 2em;
}
.ui-resizable-e {
  background-color: blue;
  width: 5px;
  right: 0;
}

.RautLibMeta{
  background-color:#39322B;
  color:white;
  padding:10px;
}

.RautLibMeta a, .RautLibEbNav a, .RautLibEbNavTop a, .RautLibToc a{
  color:red;
}

.RautLibMeta h1{
  margin:0px;
  font-size:18px;
  background-color:#39322B;
}

.contentsFig img{
 float:right;
width: 20%;
padding: 0em 1em 0em 1em; 
margin-right: 0em;
}

.contentsText  {
	background-color:#00bfff; /* #c2cced; */
  margin-right: 1em;
  margin-left: 1em;
  padding: 0em 1em 0em 0em;
   font-family: Times New Roman;
  text-align: left;
  float:left;
  width:20%;
}

.aboutText {
padding: 0 0 0 2em;
}