LaTeX {
	
}
DIV.title {
	FONT-WEIGHT: bold; FONT-SIZE: 150%; FONT-STYLE: normal; TEXT-ALIGN: center
}
DIV.author {
	FONT-SIZE: 130%; FONT-STYLE: normal; TEXT-ALIGN: center
}
DIV.address {
	FONT-STYLE: normal; TEXT-ALIGN: center
}
DIV.date {
	FONT-STYLE: normal; TEXT-ALIGN: center
}
DIV.abstract {
	PADDING-BOTTOM: 10px; MARGIN-LEFT: 5%; MARGIN-RIGHT: 5%; PADDING-TOP: 10px; FONT-STYLE: normal
}
DIV.abstract:unknown {
	FONT-WEIGHT: bold; FONT-SIZE: 105%; FONT-STYLE: normal; content: "Abstract:"
}
DIV.keyword {
	PADDING-BOTTOM: 10px; MARGIN-LEFT: 5%; MARGIN-RIGHT: 5%; PADDING-TOP: 10px; FONT-STYLE: normal
}
DIV.keyword:unknown {
	FONT-WEIGHT: bold; FONT-SIZE: 105%; FONT-STYLE: normal; content: "Keywords:"
}
.centered {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto; TEXT-ALIGN: center
}
H2.section {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 0.25em
}
H3.subsection {
	MARGIN-TOP: 0.75em; MARGIN-BOTTOM: 0.25em
}
H4.subsubsection {
	MARGIN-TOP: 0.5em; MARGIN-BOTTOM: 0.25em
}
DIV.enumerate {
	
}
DIV.itemize {
	
}
P.LaTeXMathML {
	FONT-SIZE: 0.25em
}
P.smallskip {
	FONT-SIZE: 1.5em
}
P.medskip {
	FONT-SIZE: 3em
}
P.bigskip {
	FONT-SIZE: 4.5em
}
SPAN.textbf {
	FONT-WEIGHT: bold
}
SPAN.textit {
	FONT-STYLE: italic
}
SPAN.emph {
	FONT-WEIGHT: bolder; FONT-STYLE: italic
}
SPAN.textsc {
	FONT-VARIANT: small-caps
}
SPAN.textsl {
	FONT-STYLE: oblique
}
SPAN.textsf {
	FONT-FAMILY: sans-serif, Arial, Helvetica
}
SPAN.texttt {
	FONT-FAMILY: monospace,"Courier New", Courier
}
SPAN.tiny {
	FONT-SIZE: xx-small
}
SPAN.scriptsize {
	FONT-SIZE: x-small
}
SPAN.footnotesize {
	FONT-SIZE: small
}
SPAN.small {
	FONT-SIZE: small
}
SPAN.normalsize {
	FONT-SIZE: medium
}
SPAN.Large {
	FONT-SIZE: x-large
}
SPAN.LARGE {
	FONT-SIZE: xx-large
}
SPAN.large {
	FONT-SIZE: large
}
SPAN.huge {
	FONT-WEIGHT: bolder; FONT-SIZE: x-large
}
SPAN.HUGE {
	FONT-WEIGHT: bolder; FONT-SIZE: xx-large
}
SPAN.section {
	FONT-STYLE: normal
}
SPAN.subsection {
	FONT-STYLE: normal
}
SPAN.subsubsection {
	FONT-STYLE: normal
}
TABLE.figure {
	WIDTH: 100%
}
TD.caption {
	TEXT-ALIGN: center
}
TD.image {
	TEXT-ALIGN: center
}
SPAN.figure {
	FONT-WEIGHT: bold
}
TABLE.LaTeXtable {
	
}
TABLE.LaTeXtable TBODY {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto; TEXT-ALIGN: center
}
SPAN.LaTeXtable {
	FONT-WEIGHT: bold
}
SPAN.inlinemath {
	
}
TABLE.displayequation {
	WIDTH: 100%
}
TD.eq {
	TEXT-ALIGN: center
}
TD.eqno {
	WIDTH: 10px; TEXT-ALIGN: right
}
SPAN.eqno {
	FONT-STYLE: normal
}
SPAN.definition {
	FONT-WEIGHT: bold; FONT-STYLE: normal
}
DIV.definition {
	FONT-STYLE: italic
}
SPAN.proposition {
	FONT-WEIGHT: bold; FONT-STYLE: normal
}
DIV.proposition {
	FONT-STYLE: italic
}
SPAN.lemma {
	FONT-WEIGHT: bold; FONT-STYLE: normal
}
DIV.lemma {
	FONT-STYLE: italic
}
SPAN.theorem {
	FONT-WEIGHT: bold; FONT-STYLE: normal
}
DIV.theorem {
	FONT-STYLE: italic
}
SPAN.corollary {
	FONT-WEIGHT: bold; FONT-STYLE: normal
}
DIV.corollary {
	FONT-STYLE: italic
}
SPAN.example {
	FONT-WEIGHT: bold; FONT-STYLE: normal
}
DIV.example {
	PADDING-BOTTOM: 10px; MARGIN-LEFT: 5%; MARGIN-RIGHT: 5%; PADDING-TOP: 10px; FONT-STYLE: normal
}
SPAN.exercise {
	FONT-WEIGHT: bold; FONT-STYLE: normal
}
DIV.thebibliography {
	PADDING-TOP: 15px; FONT-STYLE: normal
}
DIV.thebibliography:unknown {
	FONT-WEIGHT: bold; FONT-STYLE: normal; content: "References"
}
A.bibitem {
	FONT-WEIGHT: bold; FONT-STYLE: normal
}
DIV.proof:unknown {
	FONT-WEIGHT: bold; FONT-STYLE: normal; content: "Proof:"
}
DIV.proof:unknown {
	FONT-WEIGHT: bold; content: "?"
}
A.cite {
	FONT-STYLE: normal
}
A.ref {
	FONT-STYLE: normal
}
