.pagebreak { page-break-after: always; }

h1.title {
    font-size: 38px;
	/* color:#ac371e; */
	/* background-color:rgba(0,0,255,0.3); */
	background-color:#348419;
	 padding: 35px;
	 margin-bottom: 0em;
	 text-align: center;
	 background-image: linear-gradient(to right,  Olive , teal);
}
h4.author{
	/* background-color:rgba(0,0,255,0.3); */
	/* color: #FFC00;  */
	color: #d9dd06;
	background-color:#348419;
	 padding: 15px;
	  margin-bottom: 0em;
	   margin-top: 0em;
	 text-align: center;
	  background-image: linear-gradient(to right,  Olive , teal);
}
h4.date{
	/* background-color:rgba(0,0,255,0.3); */
	margin: 0
	color: #FFC300; 
	background-color:#348419;
	 padding: 15px;
	  margin-top: 0em;
	 text-align: center;
	  background-image: linear-gradient(to right,  Olive , teal);
}
h1 {
   /* color: #900C3F;  */
   color: #FFC300; 
   background-color: #2a86e8;
    padding: 15px;
    text-align: left;
}

h2 {
   color: #FFC300; 
    background-color: #2799a7;
	 padding: 10px;
	 text-align: left;
}


h3 {
   color: #f6fb57 ; 
   background-color: #afc5eb;
	 padding: 5px;
	 text-align: left;
}

div #TOC{
	line-height: 1.2em;
	/* color: #259fb0;  */
	color: #641e16;
	background-color: #cfd895;
	font-size: 14px;
}

div #abstract{
	line-height: 1.2;
	/* color: #259fb0; */
	font-size: 14px;
	background-color: #f3edfa;
}

div #acknowledgement-and-disclaimer{
	line-height: 1.2;
	/* color: #259fb0; */
	font-size: 14px;
	background-color: #e5fafb;
}

#gradient_color_box {
            padding: 15px;
            margin: 0.1in;
            /* Set the height of the div to 
               the entire screen */
            /* height: 100vh;   */
  
            /* linear-gradient syntax */
            background-image: linear-gradient(to right, Lavender, Indigo 200%); /* Lavender LightSeaGreen */
        }

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

body {
    padding: 0;
     margin: 0.1in;
    /* font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; */
	/* font-family: "Times New Roman", Times, serif; */
	font-family:"SolaimanLipi","Times New Roman", Times, serif;
      font-size: 20px;  
    /* line-height: 1.5; */
    /* color: #606c71; */
	color: black;
	background-color: #D4C9DC;
	text-align: justify;
	font-weight: 500; 
	 /* text-indent: 24px; */
}