
h1.title {
    font-size: 38px;
	background-color:#348419;
	 padding: 35px;
	 margin-bottom: 0em;
	 text-align: center;
	 background-image: linear-gradient(to right,  Olive , teal);
}
h4.author{
	color: #d9dd06;
	background-color:#348419;
	 padding: 15px;
	  margin-bottom: 0em;
	   margin-top: 0em;
	 text-align: center;
	  background-image: linear-gradient(to right,  Olive , teal);
}
h4.date{
	margin: 0
	color: #FFC300; 
	background-color:#348419;
	 padding: 15px;
	  margin-top: 0em;
	 text-align: center;
	  background-image: linear-gradient(to right,  Olive , teal);
}
h1 {
   color: #FFC300; 
   background-color: #2a86e8;
    padding: 15px;
    text-align: left;
}

h2 {
   color: #FFC300; 
    background-color: #2799a7;
	 padding: 10px;
	 text-align: left;
}


h3 {
   color: #f6fb57 ; 
   background-color: #afc5eb;
	 padding: 5px;
	 text-align: left;
}

div #TOC{
	line-height: 1.2em;
	color: #641e16;
	background-color: #cfd895;
	font-size: 14px;
}

div #abstract{
	line-height: 1.2;
	font-size: 14px;
	background-color: #f3edfa;
}

div #acknowledgement-and-disclaimer{
	line-height: 1.2;
	font-size: 14px;
	background-color: #e5fafb;
}



p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

body {
    padding: 0;
     margin: 0.1in;
	font-family: "Times New Roman", Times, serif;
      font-size: 20px;  
	color: black;
	text-align: justify;
	font-weight: 500; 
}